@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%; /* 1rem = 10px */
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #8750f7 #2a1454;
}

body {
  font-family: "Sora", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
  color: #dddddd;
  overflow-x: hidden;
}
